<div class="center-align">
    <h1 class="lev">LEV </h1>
    <div id="helvetica"> X </div>
    <h1 id="genius">GENIUS</h1>
      <br>
    <div class="hire new-label">
      <h6>Hire me?</h6>
    </div>
 	    <br>
			<div class="description">
				<h6 class="text-header">m.v.p on the m-i-c</h6>
			I've always loved rap. Growing up, albums like Black Star, Illmatic, and Organix changed my life. So it's no surprise that when I discovered Rap Genius, I was pumped to finally have a way to decrypt some of the tricker bars. As if that wasn't enough, the Rap Genius platform soon became the GENIUS platform, and suddenly, poetry, political speeches, and the news were made just as easy to understand as the rap albums I listened to as a kid. I'm the kind of guy who reads through every annotation in a David Foster Wallace book, so it's no grand claim to say that I love annotations.
			<br>
			<hr width="75%" color="#b19cd9">
			<br>
			<h6 class="text-header">but wait, there's more!</h6>
      But doesn't stop there - GENIUS now can be used on any site, an idea so audacious that critiques of the site include Das Racist calling it <a href="http://genius.com/Das-racist-middle-of-the-cake-lyrics/">white devil sophistry</a>. That's fucking awesome! How many other companies have been personally called out as sophists by Das Racist? And how many companies have had <a href="https://news.ycombinator.com/item?id=5215884">their beef with Heroku shoot to the top of HackerNews?</a> I'll tell you the answer, in case you didn't already know - zero.
			<br>
			<br>
			In all seriousness, the International Encyclopedia of Philosophers has this to say about sophists - "The sophists were interested in particular with the role of human discourse in the shaping of reality". And what better role for GENIUS than to be at the center of the human discourse in the shaping of reality?
			<br>
			<br>
			Shaping the reality of our race through the creation of public discourse and rational thought may not be as glamorous as being a rap lyrics site, but, hey somebody's gotta do it.
			<hr width="75%" color="#b19cd9">
			<h6 class="text-header">why me?</h6>
			<span class="code">%w(GENIUS, coding).map { |passion| "I <span class="octicon octicon-heart"></span> #{passion}" }</span>
			<br>
			<br>
      Hopefully that makes you <span class="octicon octicon-heart"></span> me.
      I installed the Genius Chrome Extension but it was buggy enough to provoke me to make my own. I didn't like having to use both Spotify and Genius at once to explore new artists, so I made a site that let's me do both with the new Genius API. I found a cool Genius repository on Github that I wanted other people to experience, but it didn't have documentation - so I made a pull request.
      <br>
      <br>
      <hr width="75%" color="#b19cd9">
			<h6 class="text-header">Genius is going places</h6>
      The way I see it, Genius is croud-sourcing culture - like a modern, open-source, and incredibly relevant Wikipedia. Being able to literally "annotate the world" is an increasingly possible feat with the advent of technologies such as Google Glass, an idea that postively eclipses Yelp in terms of reach (you could annotate restaurants, sure, but how about apartment buildings? Public parks? Car dealerships?). I see Spotify lyrics containing Genius annotations, political debates fact-checked <em>live</em> by enthusiastic Genius users, and entire books annotated by their authors.
      <br>
      <br>
      What if Github code comments used a more elegant system...maybe one like Genius? And imagine how easily the philosophy behind Genius could apply to education - instead of printing out 50 pages of a book to annotate, students could collaborate online (think Google Docs), professors could upload their annotated textbooks for students to study (think SparkNotes). I believe that Genius could start a revolution that alters the manner in which society communicates, and I want nothing more than to be a part of that.
      <hr width="75%" color="#b19cd9">

      <h4>TL;DR</h4>
      Anyways, enough with the rhetoric. Here's some code I've worked on.
      <ul>
        <li><a href="http://geniuspotify.com">geniuSpotify</a> | <a href="https://github.com/kravinskylev/g-s">repo</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/genius-annotate/jbbddaackmaeibnlelonffpmniaphknm/related">genius annotate</a> | <a href="https://github.com/kravinskylev/g_prepend">repo</a></li>
				<li><a href="http://tweetHaik.us">tweetHaikus</a> | <a href="https://github.com/kravinskylev/tweetHaiku">repo</a></li>
				<li><a href="http://lev.io">lev.io</a> | <a href="https://github.com/kravinskylev/kravinskylev.github.io">repo</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/true-weather/llenhcfohljfhekiimhidbeoeldlgcof">fucking weather</a> | <a href="https://github.com/kravinskylev/fucking_weather">repo</a></li>
				<li><a href="https://github.com/kravinskylev/fibonacci_benchmark">ruby optimization</a> | <a href="https://github.com/kravinskylev/fibonacci_benchmark">repo</a></li>
				<li><a href="https://flac.herokuapp.com/">flac</a> | <a href="https://github.com/kravinskylev/flac">repo</a></li>
				<li><a href="https://github.com/kravinskylev/OkCuGit">okcugit</a> | <a href="https://github.com/kravinskylev/OkCuGit">repo</a></li>
        <li><a href="https://github.com/stevekinney/pizza">pizza</a> | <a href="https://github.com/stevekinney/pizza">repo</a></li>
				<li><a href="http://levgeni.us">meta easter egg</a> | <a href="https://github.com/kravinskylev/l-g">repo</a></li>

			</ul>
			<hr width="75%" color="#b19cd9">
			<div class="code" style="text-align:left;">
				if current_user.interested? <br>
				  mail(to: "kravinskylev@gmail.com", subject: "I'm interested. Tell me more.") <br>
				elsif current_user.very_interested? <br>
				  mail(to: 'kravinskylev@gmail.com, subject: 'You're hired!') <br>
				else <br>
					&nbsp redirect_to :sad_path(not_hired) <br>
				end
			</div>
	</div>
</div>

