<div class="center-align">
    <h1 class="lev">LEV </h1>
    <div id="helvetica"> X </div>
    <h1 id="genius">GENIUS</h1>
      <br>
    <div class="hire new-label">
      <h6>Hire me?</h6>
    </div>
 	    <br>
			<div class="description">
				<h6 class="text-header">m.v.p on the m-i-c</h6>
			I've always loved rap. Growing up, albums like Black Star, Illmatic, and Organix changed my life. So it's no surprise that when I discovered Rap Genius, I was pumped to finally have a way to decrypt some of the tricker bars. As if that wasn't enough, the Rap Genius platform soon became the GENIUS platform, and suddenly, poetry, political speeches, and the news were made just as easy to understand as the rap albums I listened to as a kid.
			<br>
			<hr width="75%" color="#b19cd9">
			<br>
			<h6 class="text-header">but wait, there's more!</h6>
			It doesn't stop there - GENIUS now can be used on any site, an idea so audacious that critiques of the site include Das Racist calling it "white devil sophistry". That's fucking awesome! How many other companies have been personally called out as sophists by Das Racist? I'll tell you the answer, in case you didn't already know - zero.
			<br>
			<br>
			In all seriousness, the International Encyclopedia of Philosophers has this to say about sophists - "The sophists were interested in particular with the role of human discourse in the shaping of reality". And what better role for GENIUS than to be at the center of the human discourse in the shaping of reality?
			<br>
			<br>
			Shaping the reality of our race through the creation of public discourse and rational thought may not be as glamorous as being a rap lyrics site, but, hey somebody's gotta do it.

			<h6 class="text-header">why me?</h6>
			<span class="code">%w(GENIUS, coding).map { |passion| "I <span class="octicon octicon-heart"></span> #{passion}" }</span>
			<br>
			<br>
			Hopefully that makes you <span class="octicon octicon-heart"></span> me.
			Here's some stuff I've worked on.
			<ul>
				<li><a href="http://tweetHaik.us">tweetHaikus</a></li>
				<li><a href="http://lev.io">lev.io</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/true-weather/llenhcfohljfhekiimhidbeoeldlgcof">fucking weather</a></li>
				<li><a href="https://github.com/kravinskylev/dinner_dash">smoovies</a></li>
				<li><a href="https://github.com/kravinskylev/fibonacci_benchmark">ruby optimization</a></li>
				<li><a href="https://github.com/kravinskylev/OkCuGit">OkCuGit</a></li>
				<li><a href="https://flac.herokuapp.com/">flac</a></li>
				<li><a href="https://github.com/stevekinney/pizza">pizza</a></li>
			</ul>
			<hr width="75%" color="#b19cd9">
			<div class="code" style="text-align:left;">
				if current_user.interested? <br>
				  mail(to: "kravinskylev@gmail.com", subject: "I'm interested. Tell me more.") <br>
				elsif current_user.very_interested? <br>
				  mail(to: 'kravinskylev@gmail.com, subject: 'You're hired!') <br>
				else <br>
					&nbsp redirect_to :sad_path(not_hired) <br>
				end
			</div>
	</div>
</div>
